/* Style for the slider images */
.slide-image {
  width: 100%;
  max-height: 500px;
  padding: 10px;
  margin-top: 50px;
  margin: auto;
}
h1{
  margin-top: 150px;
  font-size: 25px;
  
}
/* Responsive design for screens with a max-width of 768px */
@media (max-width: 768px) {
  .slide-image {
    max-height: 300px; /* Adjust the maximum height for smaller screens */
    padding: 5px; /* Adjust padding for smaller screens */
  }
}
