/* Styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* Background color for the navbar */
  color: rgb(20, 18, 18);
  opacity: 6;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
}

/* Style for the navigation links */
.navbar a {
  text-decoration: none;
  color: rgb(9, 8, 8);
  margin-right: 20px;
  font-weight: 600;
  font-size: 20px;
}

/* Style for the logo image */
.navbar img {
  width: 50px;
  border-radius: 50%;
  height: auto;
}

/* Style for the badge indicating the number of saved recipes */
.badge {
  background-color: #709b5d; /* Badge background color */
  color: white;
  padding: 2px 8px;
  border-radius: 15px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 0px;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 0px;
    padding-bottom: 15px;
  }

  .navbar a {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .navbar img {
    width: 0px;
  }
}